:root {
    background-color: rgb(28, 28, 48);
    margin: 5px 2px;
    padding: 0px;
}

.container {
    display: flex;
    gap: 20px;
}

.sideBar {
    background-color: rgb(62, 69, 85);
    position: relative;
    top:10px;
    height: 95vh;
    width: 5vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sideBar img {
    cursor: pointer;
}

p {
    color: rgba(255, 255, 255, 0.671)
}

.middle {
    display: flex;
    flex-direction: column;
}

.search input {
    border: solid rgb(28, 28, 48);
    background-color: rgb(62, 69, 85);
    width: 750px;
    height: 30px;
    border-radius: 10px;
    color: white;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.486)
}

.middle div {
    margin: 10px;
}

.right {
    width: 40vw;
    height: 80vh;
    position: relative;
    top: 10px;
    right: 10px;
    border: 1px solid rgb(28, 28, 48);
    border-radius: 10px;
    background-color: rgb(62, 69, 85);
}

.main {
    height: 27vh;
    border-radius: 10px;
    background-color: rgb(28, 28, 48);
    color:white
}
.main img{
    position: relative;
    z-index: 2;
}
.timeline {
    height: 26vh;
    border-radius: 10px;
    background-color: rgb(62, 69, 85);
}

.timeline p {
    position: relative;
    left: 25px;
    top: 5px;
    margin: 5px;
    padding: 2px;
}

.details {
    height: 25vh;
    border-radius: 10px;
    background-color: rgb(62, 69, 85);
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding:auto;
}

.card {
    width: 60px;
    height: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: auto;
    text-align: center;
    color: white;
    padding: 10px;
    box-sizing: border-box;
}

.card p {
    position: relative;
    top: 12px;
    left: 2px;
    margin: 6px;
    gap: 3px;
    box-sizing: border-box;
    text-align: center;
}

.card img {
    width: 30px;
    height: 30px;
    position: relative;
    top: 13px;
    margin: 5px 0;
}

.actor {
    display: flex;
    flex-direction: column;
}

.main img {
    position: relative;
    right: -600px;
    top: -145px;
    height: 60%;
    width: auto;
}

.utility {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.utility span {
    display: inline-flex;
    align-items: center;
    gap: 1px;
    color: white;
}

#ac {
    position: relative;
    left: 40px;
}

.utility div {
    background-color: rgb(62, 69, 85);
    width: 120px;
    height: 85px;
    position: relative;
}

.utility div p {
    position: absolute;
    left: 10px;
    padding:2px 4px;
    bottom: 0px;
    font-size: larger;
    font-weight: bolder;
}

.right > p{
    position:absolute;
    left:30px;
    top:8px;
    margin:10px;
    padding: 10px;
}
.forecast {
    position: relative;
    top:60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:10px auto;
    padding: 10px 15px;
    color: white;
    width: 400px;
}

.day {
  font-size: 14px;
}

.icon-weather {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.icon-weather img {
  width: 30px;
  height: 30px;
}

.condition {
  font-size: 14px;
  font-weight: bold;
}

.temperature {
  font-size: 14px;
  font-weight: bold;
  font-size: 14px;
  margin-right: 2px;
}

.seperation{
    border: 0.1em solid rgba(255, 255, 255, 0.63);
    width:400px;
    margin: 10px auto;
    position:relative;
    top: -20px;
}